<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='confirmacion.css') }}">
    <title>Confirmación</title>
</head>
<body>
    <h1>Producto Registrado</h1>
    <p>El producto se ha eliminado correctamente.</p>

    <!-- Puedes agregar más contenido o enlaces según tus necesidades -->
    <a href="/editar">Volver a Editar</a>
</body>
</html>
