<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Modificar Folios</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modificar_folios.css') }}">
</head>
<!-- Muestra el valor del último inicio de sesión -->
<h1>Bienvenido, {{ username }}</h1>


<body>
    <!-- Barra lateral izquierda -->
    <nav id="sidebar" class="nav">
        <div class="toggle-btn">
            <span> &#9776 </span>
        </div>
        <ul class="list">
            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="/static/menu.svg" class="list__img">
                    <a href="#" class="nav__link"> Menú</a>
                    <img src="/static/arrow.svg" class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="/index" class="nav__link nav__link--inside"> Inicio</a>
                        <!-- lo de arriba serian los link a los distintos html -->
                    </li>
                    <li class="list__inside">
                        <a href="/ventas" class="nav__link nav__link--inside"> Ventas</a>
                        <!-- lo de arriba serian los link a los distintos html -->
                    </li>
                    <li class="list__inside">
                        <a href="/cotizar" class="nav__link nav__link--inside"> Cotizar</a>
                        <!-- lo de arriba serian los link a los distintos html -->
                    </li>
                    <li class="list__inside">
                        <a href="/informes" class="nav__link nav__link--inside"> Informes</a>
                        <!-- lo de arriba serian los link a los distintos html -->
                    </li>
                    <li class="list__inside">
                        <a href="/ver_datos" class="nav__link nav__link--inside"> Inventario</a>
                        <!-- lo de arriba serian los link a los distintos html -->
                    </li>

                </ul>
            </li>


            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="/static/worker.svg" class="list__img">
                    <a href="#" class="nav__link"> Administracion</a>
                    <img src="/static/arrow.svg" class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="/registro" class="nav__link nav__link--inside"> Registrar Producto</a>
                        <!-- lo de arriba serian los link a los distintos html -->
                    </li>
                    <li class="list__inside">
                        <a href="/editar" class="nav__link nav__link--inside"> Editar Producto</a>
                        <!-- lo de arriba serian los link a los distintos html -->
                    </li>
                    <li class="list__inside">
                        <a href="/auditoria" class="nav__link nav__link--inside"> Auditoria</a>
                        <!-- lo de arriba serian los link a los distintos html -->
                    </li>

                </ul>
            <li class="list__item list__item--click">
                <div class="list__button list__button--click">
                    <img src="static/build.svg" class="list__img">
                    <a href="#" class="nav__link"> Empresa</a>
                    <img src="/static/arrow.svg" class="list__arrow">
                </div>

                <ul class="list__show">
                    <li class="list__inside">
                        <a href="/modificar_folios" class="nav__link nav__link--inside"> Cambiar Folio</a>
                        <!-- lo de arriba serian los link a los distintos html -->
                    </li>
                    <li class="list__inside">
                        <a href="/registro_usuario" class="nav__link nav__link--inside"> Registrar Usuario</a>
                        <!-- lo de arriba serian los link a los distintos html -->
                    </li>
                    <li class="list__inside">
                        <a href="/informacion_empresa" class="nav__link nav__link--inside"> Informacion Empresa</a>
                        <!-- lo de arriba serian los link a los distintos html -->
                    </li>

                </ul>

        </ul>
    </nav>

    <body>
        <h1>Modificar Folios</h1>
        <h2>Folios Boleta</h2>
        <form method="POST" action="/modificar_folios">
            <input type="text" name="folio_inicial" placeholder="Folio Inicial" required>
            <br>
            <input type="text" name="folio_final" placeholder="Folio Final" required>
            <br>
            <input type="submit" value="Guardar Cambios">
        </form>
        <h2>Ver Folios</h2>


        <button id="folios" onclick="abrirVentanaEmergente()">Ver Folios Actual</button>


        <form id="cerrar" method="POST" action="{{ url_for('logout') }}">
            <input type="submit" value="Cerrar sesión">
        </form>

        <script>
            var ventanaEmergente; // Variable global para almacenar la referencia a la ventana emergente

            function abrirVentanaEmergente() {
                // Abre la ventana emergente con las dimensiones deseadas
                ventanaEmergente = window.open('', 'VentanaEmergente', 'width=800,height=600');

                // Redirige la ventana emergente a la página que muestra los datos de folios.csv
                ventanaEmergente.location.href = '/mostrar_folios'; // Reemplaza con la URL correcta

                // Asegúrate de que la ventana emergente esté enfocada (opcional)
                ventanaEmergente.focus();
            }

            function cerrarVentanaEmergente() {
                // Cierra la ventana emergente si está abierta
                if (ventanaEmergente && !ventanaEmergente.closed) {
                    ventanaEmergente.close();
                }
            }
        </script>

        <!-- ---------------- Script SideBar -->

        <script>
            let listElements = document.querySelectorAll('.list__button--click');
            listElements.forEach(listElement => {
                listElement.addEventListener('click', () => {
                    listElements.forEach(item => {
                        if (item !== listElement) {
                            item.nextElementSibling.style.height = '0';
                        }
                    });

                    listElement.classList.toggle('arrow');

                    let height = 0;
                    let menu = listElement.nextElementSibling;
                    if (menu.clientHeight === 0) {
                        height = menu.scrollHeight;
                    }

                    menu.style.height = height + 'px';
                });
            });
        </script>

        <script>
            // sidebar toggle
            const btnToggle = document.querySelector('.toggle-btn');

            btnToggle.addEventListener('click', function () {
                console.log('clik')
                document.getElementById('sidebar').classList.toggle('active');
                console.log(document.getElementById('sidebar'))
            });

        </script>


    </body>

</html>