<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mostrarfolios.css') }}">
    <meta charset="UTF-8">
    <title>Mostrar Folios</title>
</head>
<body>
    <h1>Folios Actual en el Sistema</h1>
    <table>
        <thead>
            <H2>Folio Boletas</H2>
            <tr>
                <th>Folio Inicial</th>
                <th>Folio Final</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in datos_folios %}
            <tr>
                <td>{{ fila[0] }}</td>
                <td>{{ fila[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



</body>
</html>
