<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Boleta Generada</title>
</head>
<body>
    <h1>Boleta Generada</h1>

    <h2>Detalles de la Boleta</h2>
    <p>A continuación, se muestran los detalles de la boleta:</p>
    <div id="boletaContainer" style="display: none;">

    <!-- Aquí puedes mostrar los detalles de la boleta al usuario, como la información del emisor, la venta, etc. -->

    <h2>Descargar Boleta</h2>
    <p>Puedes descargar la boleta en formato PDF haciendo clic en el siguiente enlace:</p>
    <a href="{{ pdf_path }}" download>Descargar Boleta PDF</a>

</div>
</body>
</html>